Repository cardano-foundation/CIPs, pull requests merged in 2022-06, with the labels that each got.

#272 [paradiso.app] reserve transaction metadatum labels
  CIP-0010/registry.json
Labels: CIP-0010: new registry entry

#270 Adding meeting notes for Editors meeting #45
  BiweeklyMeetings/2022-05-24.md
Labels: Bi-Weekly Notes / Editorial Housekeeping

#252 CIP-0052? | Cardano audit best practice guidelines
  CIP-0052/README.md
  CIP-0052/Tx-spec.md
Labels: Candidate CIP, Process

#267 CIP-0025: Added version 2 and cddl
  CIP-0025/README.md
  CIP-0025/cddl/version_1.cddl
  CIP-0025/cddl/version_2.cddl
Labels: Update

#265 CIP-0055? | Babbage Era Protocol Parameters
  CIP-0055/README.md
Labels: Candidate CIP, Standard
