Repository cardano-foundation/CIPs, pull requests merged in 2025-03, with the labels that each got.

#996 Update top-level README: post meeting 106
  README.md
Labels: Bi-Weekly Notes / Editorial Housekeeping

#1005 CIP-0010 | Adding 1517 metadata label for Reeve
  CIP-0010/registry.json
Labels: CIP-0010: new registry entry, State: Triage

#944 CIP-0143? | Interoperable Programmable Tokens
  CIP-0143/README.md
Labels: State: Last Check, Category: Tokens

#1012 CIP-0010 | Add 1668 label for Begin Wallet: dApp rating
  CIP-0010/registry.json
Labels: CIP-0010: new registry entry
